@keyframes spin3D {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
* {
  margin: 0;
  padding: 0;
  border: solid red 1px;
}

body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: blue;
}
.menu_bar .logo img {
  width: 100px;
  height: 100px;
  animation: spin3D 2s linear infinite;
}
.menu_bar .search input {
  width: 300px;
  height: 30px;
}
.menu_bar .menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.menu_bar .menu ul li {
  list-style: none;
  margin: 0 10px;
}
.menu_bar .menu ul li a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1 0;
  justify-content: space-between;
  width: 100%;
}
.container .aside_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  padding: 15px;
}
.container .aside_bar .categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .aside_bar .categories ul {
  list-style: none;
}
.container .aside_bar .categories ul li:hover {
  animation: vibrate 0.2s linear infinite;
}
.container .aside_bar .filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .aside_bar .filter ul {
  list-style: none;
}
.container .aside_bar .filter ul li:hover {
  animation: vibrate 0.2s linear infinite;
}
.container .ch_container .courses {
  display: flex;
  flex-direction: row;
  flex: 1 0;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: green;
  height: 100%;
  width: 100%;
}
.container .ch_container .courses .course {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  width: 250px;
  height: 180px;
  background-color: yellow;
  margin: 15px;
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
}
.container .ch_container .courses .course:hover {
  transform: scale(1.1);
}
.container .ch_container .courses .course img {
  width: 100%;
  height: 100px;
  padding: 0;
}
.container .ch_container .courses .course h2 {
  font-size: 28px;
}
.container .ch_container .courses .course .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50%;
}
.container .ch_container .courses .course .btn button {
  margin: 2px;
  padding: 5px;
  width: 150px;
  height: 20px;
  font-size: 15px;
}
.container .ch_container .banner {
  position: relative;
  z-index: -1;
  background-image: url("../img/bg_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  transition: transform 10s ease-in-out;
}
.container .ch_container .banner:hover {
  animation: zoom-in 10s forwards;
}/*# sourceMappingURL=style.css.map */