@keyframes spin3D {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes vibrate {
  0% { transform: translate(0); }
  20% { transform: translate(-5px, 5px); }
  40% { transform: translate(-5px, -5px); }
  60% { transform: translate(5px, 5px); }
  80% { transform: translate(5px, -5px); }
  100% { transform: translate(0); }
}

@keyframes zoom-in {
  0% { transform: scale(1); }
  100% { transform: scale(1.2); }
}

*{
  margin: 0;
  padding: 0;
  border: solid red 1px;
}

body{
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.menu_bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: blue;
  .logo{
    img{
      width: 100px;
      height: 100px;
      animation: spin3D 2s linear infinite;
    }
  }
  .search{
    input{
      width: 300px;
      height: 30px;
    }
  }
  .menu{
    ul{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      li{
        list-style: none;
        margin: 0 10px;
        a{
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}


.container{
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  .aside_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    padding: 15px;
    .categories{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      ul{
        list-style: none;
        li{
          &:hover {
            animation: vibrate 0.2s linear infinite;
          }
        }
      }
    }
    .filter{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      ul{
        list-style: none;
        li{
          &:hover {
            animation: vibrate 0.2s linear infinite;
          }
        }
      }
    }
  }
  .ch_container{
    .courses{
      display: flex;
      flex-direction: row;
      flex: 1 0;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      background-color: green;
      height: 100%;
      width: 100%;
      .course{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        width: 250px;
        height: 180px;
        background-color: yellow;
        margin: 15px;
        transition: transform 0.5s ease-in-out;
        transform: scale(1);
        &:hover {
          transform: scale(1.1);
        }
        img{
          width: 100%;
          height: 100px;
          padding: 0;
        }
        h2{
          font-size: 28px;
        }
        .btn{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          text-align: center;
          height: 50%;
          button{
            margin: 2px;
            padding: 5px;
            width: 150px;
            height: 20px;
            font-size: 15px;
          }
        }
      }
    }
    .banner{
      //position: relative;
      //z-index: -1;
      display: flex;
      flex-direction: row;
      //flex: 1 0;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-image: url('../img/bg_image');
      background-size: cover;
      background-repeat: no-repeat; 
      height: 100%;
      //transition: transform 10s ease-in-out;
      /*&:hover {
        animation: zoom-in 10s forwards;
      }*/
      h1{
        font-size: 50px;
        color: white;
        font-family: 'Roboto', sans-serif;
      }
    }
  }
}

.footer{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex: 1 0;
  justify-content: center;
  align-items: center;
  background-image: url('../img/bg_image.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  height: 100%;
  transition: transform 10s ease-in-out;
  &:hover {
    animation: zoom-in 10s forwards;
  }
  .logo{
    img{
      width: 100px;
      height: 100px;
    }
  }
  .social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li{
      a{
        img{
          width: 50px;
          height: 50px;
          margin: 20px;
        }
      }
    }
  }
  .contact{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    li{
      list-style: none;
      a{
        color: white;
        font-size: 16px;
        font-family: 'montserrat', sans-serif;
        margin: 20px;
      }
    }
  }
}